footer{
    background: #8080805c;
    height: 400px;

    .footer-content{
        width: 85%;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 20% 20% 20% 28%;
        grid-template-rows: 330px;
        grid-gap: 40px;
        .footer-item{
            .item-title{
                height: 140px;
                line-height: 140px;
            }
            .icon{
                font-size: 40px;
                margin: 0 30px;
                transition: .21s ease;
                &:hover{
                    color: #007ad9;
                    font-size: 60px;
                }
            }
            ul{
                li{
                    margin: 10px 15px;
                    a{
                        color: black;
                        transition: .2s ease;
                        &:hover{
                            color: #007ad9;
                            font-size: 20px;
                            font-weight: 650;
                        }
                    }

                }
            }
        }
    }
    .footer-copyright{
        font-weight: bold;
        text-align: center;
    }
}
@media only screen and (max-width: 1024px){
    footer{
        font-size: 12px;
        .item-title{
            font-size: 19px!important;
            img{
                width: 50px;
                height: 50px;
            }
            span{
                font-size: 17px!important;
            }
        }
    }
}