.movie-list{
    margin: 30px auto;
    swiper.swiper-container{

        .swiper-slide-1, .swiper-slide-2 {
            height: 850px;
            padding: 0 3%;
            .movie-box{
                margin: 20px auto;
                padding: 0 18px;
                position: relative;
                &:hover{
                    .movie-title{
                        display: none;
                    }
                }
                img{
                    width: 230px;
                    height: 310px;
                    border-radius: 10px;
                }
                .silde-star{
                    position: absolute;
                    top: 2%;
                    left: 12%;
                    background: #101c30;
                    opacity: 0.88;
                    width: 15%;
                    height: 32px;
                    padding: 0 1%;
                    font-size: .9rem;
                    color: #f47d8c;
                    border-radius: 5px;
                    z-index: 10;
                    .point{
                        font-size: 1.4rem;
                        color: white;
                        font-weight: 600;
                    }
                }
                .movie-title {
                    transition: .5s ease-in;
                }
                .slide-hover{
                    position: absolute;
                    top: 0;
                    left: 7%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    width: 0;
                    height: 350px;
                    background: rgba(1, 1, 1, .2);
                    z-index: 10;
                    transition: .4s ease-in-out;
                    overflow: hidden;
                    cursor: pointer;
                    button{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    padding: 5px 0;
                    }
                    .movie-play{
                        font-size: 50px;
                        color: white;
                         cursor: pointer;
                         transition: .3s ease;
                         &:hover{
                             font-size: 65px;
                             color: #2980b9;
                         }
                    }
                    button{
                        font-size: 18px;
                        font-weight: bold;
                        padding: 5px 8px;
                        color: #3B5998;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        transition: .35s ease-in-out;
                        overflow: hidden;
                        border: 2px solid #a29bfe;
                        background: white;
                        z-index: 10;
                        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
                        &:before{
                            content: '';
                            background: rgba(255,255,255,0.5);
                            height: 100%;
                            width: 3em;
                            display: block;
                            position: absolute;
                            top: 0;
                            left: -4.5em;
                            transform: skewX(-45deg) translateX(0);
                            transition: none;
                        }
                        &:hover{
                            background: #3B5998;
                            color: white;
                            border-bottom: 3px solid darken(#24417d, 10%)!important;
                            outline: none;
                            border: none;
                            &:before{
                                transform: skewX(-45deg) translateX(30em);
                                transition: all 0.5s ease-in-out;
                            }
                        }
                    }
                }
                &:hover .slide-hover{
                    width: 232px;
                }
            }
        }
    }
    .tabSapChieu{
        .movie-box{
            .slide-hover{
                position: absolute;
                top: 0;
                left: 7%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0;
                height: 313px;
                background: rgba(1, 1, 1, .2);
                z-index: 10;
                transition: .4s ease-in-out;
                overflow: hidden;
                cursor: pointer;
                .movie-play{
                    font-size: 50px;
                    color: white;
                     cursor: pointer;
                     transition: .3s ease;
                     &:hover{
                         font-size: 65px;
                     }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .movie-list{
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        width: 300px;
                        height: 240px;
                    }
                }
            }
        }
    }
}